body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --gold: #d4af37;
  --soft-gold: #e4c862;
  --black: #0d0d0d;
  --dark: #111111;
  --light-text: #f8f8f8;
  --gray-text: #cccccc;
}

body {
  margin: 0;
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
